.user-component__column:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.user-component__time {
  color: lightslategrey;
}

.user-component__number {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 350;
  font-size: 12px;
}
