.red__dot {
  background-color: tomato;
  color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  bottom: 27px;
  left: 72px;
}

.find-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.find-icons_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-icons_icon i {
  font-size: 35px;
}

.find-icons_icon span {
  margin-top: 18px;
}

.recommended-friends {
  margin: 25px 0;
  padding: 25px 0;
  border-top: var(--grey-border);
  border-bottom: var(--grey-border);
}

.recommended-friends__title {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 20px;
  font-weight: 520;
}

.recommended-friends span {
  margin: 100px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.open-chat{
  padding-left: 20px;
  padding-right: 20px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
  
  align-content: center;
}

.open-chat__header span {
  opacity: 0.7;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.7;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
  font-weight: 540;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.7;
  font-size: 14px;
}

.open-post__member-status {
  margin-left: 5px;
  color: rgba(247, 21, 198, 0.877);
  font-weight: 580;
}

.open-post__photo {
position: relative;
}

.open-post__photo img{
width: 120px;
height: 120px;
border-radius: 10px;;
}

.open-post__heart-count{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 13px;
}

.open-post__heart-count span{
  margin-left: 3px;
}

