.friends-header {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.friends-header h1 {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
}

.friends-header__icons {
  display: flex;
  justify-content: flex-end;
}

.friends-header__icons i {
  margin: 5px;
}

.my-profile__picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 17px;
}

.my-profile__bar {
  border: 1px solid lightslategray;
  margin: 10px 20px 10px 20px;
}

.channel-list__title {
  color: rgb(94, 95, 95);
  margin: 20px;
}

.channel-list__title i {
  display: flex;
  justify-content: last baseline;
}

.channel-list__picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
