.icon-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .icon-row_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .icon-row_icon i {
    font-size: 35px;
  }
  
  .icon-row_icon span {
    margin-top: 18px;
  }