.nav {
  background-color: #f9f9fa;
  border-top: 1px solid rgb(202, 202, 202, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  text-decoration: none;
  position: relative;
}

@keyframes notificationAnimation {
  0%{
    transform:none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100%{
    transform: none;
  }
}

.nav__notification {
  background-color: tomato;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out inherit;
}

.nav__dot {
  background-color: tomato;
  color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 28px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


